* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Lexend", sans-serif;
    font-style: normal;
}

body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}

.logo {
    top: 50%;
}

